<h2>$hero.getName()</h2>

<h3>Age:  $hero.getAge()</h3>
<h3>Superpower: $hero.getSpecialPower()</h3>
<h3>Weakness: $hero.getWeakness()</h3>

<a href="/heroes/new">Add another hero</a><br>
<a href="/heroes">All heroes</a>
