<h1>$hero.getName()</h1><br>

<h2>Age:  $hero.getAge()</h2><br>
<h2>Superpower: $hero.getSpecialPower()</h2><br>
<h2>Weakness: $hero.getWeakness()</h2><br>

<a href="/heroes/new">Add another hero</a><br>
<a href="/heroes">All heroes</a>
