<h1>List of Heroes!</h1>
#if ($hero)
  <ul>
    <!-- foreach loop to display all heroes -->
    #foreach ($hero in $heroes)
      <li>$hero.getName()</li>
      <li>$hero.getAge()</li>
      <li>$hero.getSpecialPower()</li>
      <li>$hero.getWeakness()</li>
    #end
  </ul>
#else
  <p>No heroes!</p>
#end
